#archive-page, #author-page {
  margin: $spacing-lg auto;
  .more-link { margin-top: $spacing-lg; }
  .archive-title {
    margin-bottom: $spacing-xs;
    margin-top: 0px;
    @include font-size-sm(35px);
  }
}
