#category-page {
  margin: $spacing-lg auto;

  .post-title-large { margin: $spacing-sm 0; }
  .post-title-small { margin-bottom: $spacing-sm; }
  .more-link { margin-top: $spacing-lg; }
  .category-title { margin-bottom: $spacing-xs; }

  #popular-articles {
    margin-bottom: $spacing-lg;
    .featured-post { margin: 0; }
  }

  .row.latest-post {
    margin-bottom: $spacing-sm;
    ul { padding: 0; }
  }
}
