// utils
.overflow-hidden { overflow: hidden; }

.horizontal-rule {
  margin-bottom: 10px;
  width: 100%;
  border-top: 1px solid black;

  &.faint {
    border-top: 1px solid #D9D9D9;
  }
}

// For Slick carousels (custom styling)
.carousel-wrapper {
  position: relative;

  .img-40 {
    margin-bottom: $spacing-md;
  }

  .carousel-arrow {
    position: absolute;
    top: 33%;
    width: 40px;
    height: 78px;
    background-size: cover;
    cursor: pointer;
  
    &.carousel-prev { left: -50px; }
    &.carousel-next { right: -50px; }
  
    @media screen and (max-width: $width-md) {
      height: 0;
      width: 0;
    }
  }
}

#breadcrumbs {
  list-style: none;
  padding: 0;
  margin: 10px 0;
  overflow: hidden;
  color: #555555;
  font-family: $body-font, sans-serif;
  text-transform: uppercase;
  line-height: 1;
  font-size: 18px;
  @include font-size-sm(14px);

  li {
    display: inline-block;
    vertical-align: top;
    margin-right: 15px;

    a { color: #555555; }

    // hide the page itself from the breadcrumbs
    &:nth-last-child(2) { display: none; }
    &:nth-last-child(1) { display: none; }
  }
}
