// utils
.overflow-hidden { overflow: hidden; }
@mixin set-display-up($width, $display: block) {
  @media screen and (min-width: $width) { display: $display; }
}
.d-none { display: none; }
.d-none-xs { @include set-display-up($width-xs, none); }
.d-none-sm { @include set-display-up($width-sm, none); }
.d-none-md { @include set-display-up($width-md, none); }
.d-none-lg { @include set-display-up($width-lg, none); }
.d-none-xl { @include set-display-up($width-xl, none); }
.d-block { display: block; }
.d-block-xs { @include set-display-up($width-xs, block); }
.d-block-sm { @include set-display-up($width-sm, block); }
.d-block-md { @include set-display-up($width-md, block); }
.d-block-lg { @include set-display-up($width-lg, block); }
.d-block-xl { @include set-display-up($width-xl, block); }
.d-flex { display: flex; }
.d-flex-xs { @include set-display-up($width-xs, flex); }
.d-flex-sm { @include set-display-up($width-sm, flex); }
.d-flex-md { @include set-display-up($width-md, flex); }
.d-flex-lg { @include set-display-up($width-lg, flex); }
.d-flex-xl { @include set-display-up($width-xl, flex); }

.pullquote {
  font-family: $header-font;
  font-style: italic;
  font-weight: 700;
  font-size: 1.6em;
  color: #9F9F9F;
  margin: 0 0 1.4em 0;

  &.left {
    text-align: left;
    @media (min-width: $width-xl) { margin: 0 8vw 1.4em -8vw; }
  }
  &.right {
    text-align: right;
    @media (min-width: $width-xl) { margin: 0 -8vw 1.4em 8vw; }
  }
}

.horizontal-rule {
  margin-bottom: 20px;
  width: 100%;
  border-top: 1px solid black;

  &.faint {
    border-top: 1px solid #D9D9D9;
  }
}

// For Slick carousels (custom styling)
.carousel-wrapper {
  position: relative;

  .img-40 {
    margin-bottom: $spacing-md;
  }

  .carousel-arrow {
    position: absolute;
    top: 33%;
    width: 40px;
    height: 78px;
    background-size: cover;
    cursor: pointer;
  
    &.carousel-prev { left: -50px; }
    &.carousel-next { right: -50px; }
  
    @media screen and (max-width: $width-md) {
      height: 0;
      width: 0;
    }
  }
}

// post-rows are used in search, category, archive pages
.row.post-row {
  margin-bottom: $spacing-sm;
  ul { padding: 0; }

  .img-10-wrapper {
    @media screen and (max-width: $width-md) {
      padding-top: $spacing-sm;
      padding-bottom: $spacing-sm;
    }
  }

  .post-categories a {
    display: none;
    border: none;
    font-size: 1.5rem; //15px
    margin-bottom: $spacing-sm;
  }
}

#breadcrumbs {
  list-style: none;
  padding: 0;
  margin: 10px 0;
  overflow: hidden;
  color: #555555;
  font-family: $body-font, sans-serif;
  text-transform: uppercase;
  line-height: 1;
  font-size: 1.4rem; //14px
  @include font-size-sm(1.4rem); //14px

  li {
    display: inline-block;
    vertical-align: top;
    margin-right: 15px;

    a { color: #555555; }

    // hide the page itself from the breadcrumbs
    &:nth-last-child(2) { display: none; }
    &:nth-last-child(1) { display: none; }
  }
}
