.horizontal-rule {
  margin-bottom: 10px;
  width: 100%;
  border-top: 1px solid black;

  &.faint {
    border-top: 1px solid #D9D9D9;
  }
}

/** For Slick carousels. Arrow elements are:
 * <div class="carousel-arrow carousel-prev">&#11139;</div>
 * <div class="carousel-arrow carousel-next">&#11137;</div>
 */
.carousel-wrapper {
  position: relative;

  .carousel-arrow {
    position: absolute;
    top: 33%;
    font-size: 60px;
    cursor: pointer;
  
    &.carousel-prev { left: -40px; }
    &.carousel-next { right: -40px; }
  
    @media all and (max-width: $width-lg) {
      height: 0;
      width: 0;
    }
  }
}
