@import "bpr_vars";

@import url('https://fonts.googleapis.com/css?family=Work+Sans');

h1, .h1 {
  font-family: $header-font, serif;
  font-size: 60px;
  font-weight: 700;
  // letter-spacing: 0.03em;
  // line-height: 1.3;
}

h2, .h2 {
  font-family: $header-font, serif;
  font-size: 2.65em;
  font-weight: 600;
  line-height: 1.4;
  color: $color-blue;
  font-style: italic;
}

h3, .h3 {
  font-family: $header-font, serif;
  font-size: 1.5em;
  font-weight: 600;
  line-height: 1.4;
  letter-spacing: 0.02em;
  margin-bottom: 20px;
  color: $color-green;
}

h4, .h4 {
  font-family: $body-font, sans-serif;
  font-size: 1.125em;
  line-height: 1.4;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

h5, .h5,
h6, .h6 {
  font-family: $header-font, serif;
  font-size: 1.125em;
  line-height: 1.4;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

body {
  p {
    font-family: $body-font, sans-serif;
    // font-weight: 200;
    font-size: 1.4em;
    margin: 0 0 1.4em 0; // margin on bottom should equal font size
    line-height: calc(1.5em);
    // line-height: 1.5;
  }

  #app a {
    color: #000000;
    text-decoration: none;
  }
}

.sidebar-wrapper,
.post-content {
  h1, h2, h3, h4, h5, h6 {
    margin-bottom: $spacing-sm;
  }
}

blockquote {
  border-left: 5px solid $color-gray-light;
  padding-left: 10px;
  font-size: 125%;
}

// Utils
.font-size-18 { font-size: 18px; }
.font-size-20 { font-size: 20px; }
.font-size-24 { font-size: 24px; }
.font-size-30 { font-size: 30px; }
.font-size-100 { font-size: 100px; }
.text-center { text-align: center; }
.text-left { text-align: left; }
.text-right { text-align: right; }

// Eleements
.section-title {
  font-family: $header-font, serif;
  font-size: 30px;
  margin-bottom: 25px;
  color: black;
}
.more-link {
  font-family: $body-font, sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  color: black;
}
.post-author, .post-date {
  font-family: $body-font, sans-serif;
  text-transform: uppercase;
  color: #555555;
}
.post-title-large {
  font-family: $header-font, serif;
  font-size: 60px;
  font-weight: 500;
  line-height: 1;
}
.post-title-small {
  font-family: $body-font, sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 1;
}
.post-categories {
  padding: 0;
  text-transform: uppercase;
  font-size: 25px;

  li {
    list-style-type: none;
    display: inline-block;
    margin-right: $spacing-sm;
  }

  a {
    padding: 0 0 $spacing-xs 0;
    border-bottom: 2px solid black;
    color: inherit;
  }
}
