footer {

  #footer-background {
    width: 100%;
    background: black;
  }

  #footer-content {
    margin: 0 auto;
    padding-top: $spacing-lg;
    padding-bottom: $spacing-lg;
    max-width: $website-max-width;
    color: white;
  }
}
