#front-page {
  margin: $spacing-lg auto;

  .post-title-large { margin: $spacing-sm 0; }
  .post-title-small { margin: $spacing-xxs 0 $spacing-xs 0; }

  #popular-articles {
    margin-bottom: $spacing-lg;
    .featured-post { margin: 0; }
  }

  .category-row {
    margin: 0 0 $spacing-md 0;
    ul { padding: 0; }
    .recent-article { padding-bottom: 30px; }
  }

  .category-cols {
    margin-bottom: $spacing-md;
    .recent-article {
      padding: 0;
      margin-bottom: $spacing-md;
      overflow: hidden;
    }
  }
}
