#front-page {
  margin: $spacing-lg auto;

  .post-title-large { margin: $spacing-sm 0; }
  .post-title-small { margin: $spacing-xxs 0 $spacing-xs 0; }

  #popular-articles {
    margin-bottom: $spacing-lg;

    .featured-post { margin: 0; }

    .post-categories {
      padding: 0;
      text-transform: uppercase;
      font-size: 25px;

      li {
        list-style-type: none;

        a {
          padding: 0 0 $spacing-xs 0;
          border-bottom: 2px solid black;
          color: inherit;
        }
      }
    }
  }

  .category-row {
    margin: 0 0 50px 0;

    ul { padding: 0; }

    .recent-article { padding-bottom: 30px; }
  }

  .category-cols {
    margin-bottom: 50px;

    .recent-article {
      padding: 0;
      margin-bottom: 50px;
      overflow: hidden;
    }
  }
}
