@mixin img-common() {
  background-position: center;
  background-size: cover;
}

.logo {
  @include background-default(cover);
  width: $logo-width;
  height: $logo-height;
}

.featured-image {
  @include img-common();
  width: 100%;
  padding-bottom: 75%;
}

.img-50 {
  @include img-common();
  max-width: 1000px;
  max-height: 750px;
}

.img-40 {
  @include img-common();
  max-width: 600px;
  max-height: 450px;
  // width: 600px;
  // height: 450px;
  width: 100%;
  padding-bottom: 75%;
}

.img-30 {
  @include img-common();
  max-width: 400px;
  max-height: 300px;
  width: 100%;
  padding-bottom: 75%;
  @media screen and (max-width: $width-md) {
    width: 100%;
    padding-bottom: 75%;
  }
}
.img-30-wrapper {
  @media screen and (min-width: $width-sm) {
    width: 25vw;
  }
}

.img-20 {
  @include img-common();
  max-width: 286px;
  max-height: 215px;
}

.img-10 {
  @include img-common();
  max-width: 200px;
  max-height: 150px;
  width: 200px;
  height: 150px;
  @media screen and (max-width: $width-md) {
    max-width: unset;
    max-height: unset;
    width: 100%;
    padding-bottom: 75%;
  }
}
.img-10-wrapper {
  @media screen and (min-width: $width-sm) and (max-width: $width-md) {
    width: 50vw;
  }
}
