.search-results {
  position: relative;
  margin-bottom: $spacing-md;

  #search-icon {
    width: $icon-size;
    height: $icon-size;
    background-size: cover;
    display: inline-block;
  }

  #search-bar {
    width: calc(100% - 39px);
    display: inline-block;
    margin-left: 10px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: solid 2px grey;
  }

  input {
    font-size: 30px;
    font-family: $body-font;
    outline: none;
  }

  .result {
    position: relative;
    width: 100%;
    height: 2 * ($spacing-xl + $spacing-md);
    border-bottom: solid black 1px;
    overflow-y: hidden;
    display: flex;
    
    div.image {
      background-size: cover;
      background: white;
      border: solid 1px grey;
      width: 3 * $spacing-xl;
      height: 2 * $spacing-xl;
      margin-top: auto;
      margin-bottom: auto;
      margin-left: auto;
      margin-right: 0;
    }

    p {
      font-family: $body-font;
      font-size: $font-size-h5;
      position: absolute;
    }
  
    .date {
      margin-top: 30px;
      padding: 0;
    }
  
    .info {
      margin-left: $spacing-xl + $spacing-md;
      margin-top: $spacing-sm + 5px;
      width: 45%;

      .description-container {
        height: 80%;
        overflow: scroll;
        margin-bottom: 5px;
      }

      .author {
        color: $gray;
      }
  
      p {
        position: relative;
        margin: 0;
      }

      .title, a {
        color: $color-black;
      }

      .description {
        font-weight: bold;
      }

      .spacing {
        margin-bottom: $spacing-sm;
      }
  
      .title {
        font-size: $font-size-h3;
      }
    }
  }
}