.search-results {
  position: relative;
  margin-bottom: $spacing-md;

  .search-wrap {
    margin-top: $spacing-lg;
    margin-bottom: $spacing-md + $spacing-sm;
  }

  #search-icon {
    width: $icon-size;
    height: $icon-size;
    background-size: cover;
    margin-left: auto;
    margin-right: 0;
    margin-top: $spacing-lg + $spacing-xs;
    @media (max-width: $width-xl) {
      display: none;
    }
  }

  #search-bar {
    width: 100%;
    display: inline-block;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: solid 2px grey;
    font-size: 32px;
    font-weight: bold;
  }

  input {
    font-size: 28px;
    font-family: $body-font;
    outline: none;
  }

  .result {
    position: relative;
    width: 100%;
    height: 220px;
    border-bottom: solid #BBBBBBAA 2px;
    overflow-y: hidden;
    display: -ms-flexbox;
    display: flex;
    
    a {
      margin-top: auto;
      margin-bottom: auto;
      margin-left: auto;
      margin-right: 0;

      div.image {
        background-size: cover;
        background: white;
        border: solid 1px grey;
        width: 240px;
        height: 180px;
      }
    }

    p {
      font-family: $body-font;
      font-size: $font-size-h5;
    }
  
    .date {
      margin-top: 28px;
      padding: 0;
      color: grey;
    }
  
    .info {
      margin-top: $spacing-sm + 5px;
      width: 45%;

      .description-container {
        height: 72%;
        overflow: hidden;
      }

      .author {
        color: grey;
        margin-top: 15px;
      }
  
      p {
        position: relative;
        margin: 0;
      }

      .title, a {
        color: $color-black;
      }

      .title {
        font-size: 18px;
        font-weight: bold;
      }

      .description {
        font-weight: bold;
      }

      .spacing {
        margin-bottom: $spacing-sm;
        margin-top: $spacing-xs / 2;
      }
    }
  }
}