#search-page {
  margin: $spacing-lg auto;

  .more-link { margin-top: $spacing-lg; }

  #search-field {
    margin-bottom: $spacing-lg;
    position: relative;

    input {
      border: none;
      border-bottom: 2px solid #747474;
      outline: none;
      width: 100%;
      font-size: 45px;
    }

    #search-icon {
      position: absolute;
      top: 5px;;
      left: -50px;
      width: 54px;
      height: 54px;
      background-size: cover;
      @media (max-width: $width-xl) {
        display: none;
      }
    }
  }
}
