@import "bpr_vars";

.single-post {
  article {
    h1 {
      margin-bottom: 25px;
    }

    div.byline {
      font-family: $body-font, sans-serif;
      text-transform: uppercase;
      margin: 25px 0 50px 0;
    }

    img {
      width: 100%;
    }

    .hline {
      width: 50px;
      height: 2px;
      background: #000000;
      margin: 50px 0 50px 0;
    }

    .post-category {
      // display: none;
      text-transform: uppercase;

      li {
        list-style-type: none;
        text-align: right;

        a {
          color: inherit;
        }
      }
    }

    .pullquote {
      font-family: $header-font;
      font-style: italic;
      font-weight: 700;
      font-size: 2.0em;
      color: #9F9F9F;
      margin: 0 0 1.4em 0;

      &:nth-child(odd) {
        text-align: left;
        @media (min-width: $width-xl) {
          margin: 0 8vw 1.4em -8vw;
        }
      }
      &:nth-child(even) {
        text-align: right;
        @media (min-width: $width-xl) {
          margin: 0 -8vw 1.4em 8vw;
        }
      }
    }

    .back-to-top {
      text-transform: uppercase;
      margin: 100px 0 50px 0;
      text-align: center;
      
      a {
        font-size: 18px;
        color: inherit;
        text-decoration: none;
        padding-bottom: 3px;
        border-bottom: 2px solid #000;
      }
    }
  }
}
