.customize-control-radio-tab .buttonset {
	display: flex;
}

.customize-control-radio-tab .radio-tab-single-wrap {
	text-align: center;
	flex: 50%;
}

.customize-control-radio-tab .ui-controlgroup {
	background: #FFF;
  display: flex;
  border-bottom: 3px solid #1d2c33;
}

.customize-control-radio-tab .radio-tab-single-wrap label.ui-state-active {
	background-color: #1d2c33;
	color: #ffffff;
}

.customize-control-radio-tab .radio-tab-single-wrap{
	display: flex;
}

.customize-control-radio-tab .radio-tab-single-wrap{
	font-weight: bold;
}

.customize-control-radio-tab .radio-tab-single-wrap label{
flex: 0 1 100%;
padding: 10px 0;
}

.customize-control-radio-tab .radio-tab-single-wrap label.ui-state-active{
	background-color: #1d2c33;
	margin-bottom: 1px;
	color: #ffffff;
}
